<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center"> Create New Student</h1>
                <div class="card-body">
                    <form th:action="@{/managerTicket/createTicket}" th:object="${tickets}" method="post">
                        <div class="form-group">
                            <label>ticketPrice</label>
                            <input type="text"
                                   name="ticketPrice"
                                   th:field="*{ticketPrice}"
                                   class="form-control"
                                   placeholder="ticketPrice"/>
                        </div>
                        <div class="form-group">
                            <label>ticketName</label>
                            <input type="text"
                                   name="ticketName"
                                   th:field="*{ticketName}"
                                   class="form-control"
                                   placeholder="ticketName"/>
                        </div>
                        <div class="form-group">
                            <label>discount</label>
                            <input type="text"
                                   name="discount"
                                   th:field="*{discount}"
                                   class="form-control"
                                   placeholder="discount"/>
                        </div>
    
                        <div class="form-group">
                            <label>seatType</label>
                            <input type="text"
                                   name="seatType"
                                   th:field="*{seatType}"
                                   class="form-control"
                                   placeholder="seatType"/>
                        </div>
    
                        <!-- <div class="form-group">
                            <label>Name</label>
                            <input type="text"
                                   name="Address"
                                   th:field="*{address}"
                                   class="form-control"
                                   placeholder="Enter Customer address"/>
                        </div> -->
    
                        <!-- <div class="form-group">
                            <label>Sex: </label>
                            <div th:each="option : ${T(com.example.studentmanagesystem.enums.GenderOption).values()}">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input name="gender" type="radio" th:field="*{sex}" th:value="${option}"
                                           class="custom-control-input" required>
                                    <label class="custom-control-label" th:for="${#ids.prev('sex')}" th:text="${option}">option</label>
                                </div>
                            </div>
                        </div> -->
    
                        <!-- <div class="form-group">
                            <label>User: </label>
                            <div th:each="userEach : ${listUser}">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input name="userId" type="radio" th:field="*{userId}"
                                           th:value="${userEach.getId()}" class="custom-control-input" required>
                                    <label class="custom-control-label" th:for="${#ids.prev('userId')}"
                                           th:text="${userEach.getFullName()}">user</label>
                                </div>
                            </div>
                        </div> -->
                        
                        
                        <div class="form-group">
                            <label>User: </label>
                            <select th:field="*{userId}" class="custom-select" required>
                                <option value="">User</option>
                                <option th:each="userEach : ${listUser}" th:value="${userEach.getId()}" th:text="${userEach.getFullName()}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Customer: </label>
                            <select th:field="*{customerId}" class="custom-select" required>
                                <option value="">Customer</option>
                                <option th:each="customer : ${listCustomer}" th:value="${customer.getId()}" th:text="${customer.getName()}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Station: </label>
                            <select th:field="*{trainRideId}" class="custom-select" required>
                                <option value="">Train Ride</option>
                                <option th:each="TrainRide : ${listTrainRide}" th:value="${TrainRide.getId()}" th:text="${TrainRide.station.getAddress()}"></option>
                            </select>
                        </div>
    
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" id="submit_create_student_id"> Submit</button>
                        </div>
                    </form>
    
                </div>
            </div>
        </div>
    </div>
</body>
</html>